@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Blod.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBlod.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBlod.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlodItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBlodItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBlodItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* line 36, D:/Assement NHP/scss/utilities/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 45, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-search::before {
  content: "\e986";
}

/* line 49, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-facebook::before {
  content: "\ea90";
}

/* line 53, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-instagram::before {
  content: "\ea92";
}

/* line 57, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-twitter::before {
  content: "\ea96";
}

/* line 61, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-linkedin::before {
  content: "\eaca";
}

/* line 65, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-star-full::before {
  content: "\e9d9";
}

/* line 68, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-arrow-right2::before {
  content: "\ea3c";
}

/* line 72, D:/Assement NHP/scss/utilities/_fonts.scss */
.icon-checkmark::before {
  content: "\ea10";
}

/* line 4, D:/Assement NHP/scss/base/_base.scss */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

/* line 14, D:/Assement NHP/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 21, D:/Assement NHP/scss/base/_base.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  /* line 21, D:/Assement NHP/scss/base/_base.scss */
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  /* line 21, D:/Assement NHP/scss/base/_base.scss */
  .container {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  /* line 21, D:/Assement NHP/scss/base/_base.scss */
  .container {
    width: 1200px;
  }
}

/* line 41, D:/Assement NHP/scss/base/_base.scss */
.container-bottom {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

@media (max-width: 768px) {
  /* line 41, D:/Assement NHP/scss/base/_base.scss */
  .container-bottom {
    margin: 0;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  /* line 41, D:/Assement NHP/scss/base/_base.scss */
  .container-bottom {
    width: 750px;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 992px) {
  /* line 41, D:/Assement NHP/scss/base/_base.scss */
  .container-bottom {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  /* line 41, D:/Assement NHP/scss/base/_base.scss */
  .container-bottom {
    width: 1200px;
  }
}

/* line 69, D:/Assement NHP/scss/base/_base.scss */
a {
  cursor: pointer;
  color: #fff;
}

/* line 1, D:/Assement NHP/scss/containers/_header.scss */
header {
  background-color: #222431;
  color: #666;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}

/* line 9, D:/Assement NHP/scss/containers/_header.scss */
header .header-row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 15, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .logo {
  width: 370px;
  height: 85px;
}

/* line 19, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .logo img {
  margin-right: auto;
  display: inline-block;
  width: 370px;
  height: 85px;
  vertical-align: middle;
}

/* line 28, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .header-menu {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 992px) {
  /* line 28, D:/Assement NHP/scss/containers/_header.scss */
  header .header-row .header-menu {
    display: none;
  }
}

/* line 38, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .header-menu .menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 6px;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
}

/* line 48, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .header-menu .menu li {
  font-size: 0.75rem;
  line-height: 1.375rem;
  margin-left: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 55, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .header-menu .menu li:first-child {
  margin-left: 0;
}

/* line 58, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .header-menu .menu li a {
  text-decoration: none;
  color: #fff;
}

/* line 62, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .header-menu .menu li a:hover {
  text-decoration: underline;
}

/* line 68, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact {
  display: flex;
  padding: 7px 0;
  flex-direction: row;
  justify-content: space-between;
}

/* line 75, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact .search {
  display: flex;
  width: 300px;
  height: 41px;
  border: 1.6px solid #fff;
  border-radius: 10px;
}

/* line 83, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact .search label {
  display: none;
}

/* line 87, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact .search .form-search {
  background-color: rgba(52, 73, 94, 0.25);
  color: #fff;
  font-size: 0.875rem;
  padding: 5px 41px 5px 13px;
  width: 300px;
  cursor: text;
  border: none;
}

/* line 97, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact .search .search-submit {
  border: none;
  align-items: center;
  background: none;
  justify-content: center;
  width: 41px;
  cursor: pointer;
  background-color: rgba(52, 73, 94, 0.25);
}

/* line 106, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact .search .search-submit span {
  font-size: 1.375rem;
  color: #fff;
}

/* line 114, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact .button-support {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  height: 41px;
  width: 140px;
  padding: 0 32px;
  margin-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  border: 4px solid transparent;
  background: linear-gradient(#222431, #222431) padding-box, linear-gradient(90deg, #70ddfd, #125f8f) border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 137, D:/Assement NHP/scss/containers/_header.scss */
header .header-row .contact .button-contact {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  height: 41px;
  width: 140px;
  padding: 0 32px;
  margin-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(90deg #80308d, #350e5c);
  background-image: linear-gradient(45deg, #80308d, #350e5c);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 1, D:/Assement NHP/scss/containers/_footer.scss */
footer {
  background-color: #1b1b1e;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
  font-weight: 400;
}

/* line 8, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 13, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-company-info {
  font-size: 0.8125rem;
  width: 400px;
  flex: 100%;
}

@media (min-width: 768px) {
  /* line 13, D:/Assement NHP/scss/containers/_footer.scss */
  footer .footer-row .footer-company-info {
    flex: 50%;
  }
}

@media (min-width: 992px) {
  /* line 13, D:/Assement NHP/scss/containers/_footer.scss */
  footer .footer-row .footer-company-info {
    flex: 25%;
  }
}

/* line 28, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-company-info .logo {
  margin-bottom: 30px;
  width: 320px;
}

/* line 32, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-company-info .logo img {
  margin-right: auto;
  display: inline-block;
  width: 320px;
  height: 65px;
  vertical-align: middle;
}

/* line 41, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-company-info .footer-hours strong {
  font-weight: 600;
}

/* line 49, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  /* line 49, D:/Assement NHP/scss/containers/_footer.scss */
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}

@media (min-width: 992px) {
  /* line 49, D:/Assement NHP/scss/containers/_footer.scss */
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}

@media (min-width: 1260px) {
  /* line 49, D:/Assement NHP/scss/containers/_footer.scss */
  footer .footer-row .footer-menu {
    flex: 10%;
    margin-bottom: 40px;
  }
}

/* line 72, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  font-weight: 600;
}

/* line 79, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-menu ul {
  list-style: none;
  display: block;
  padding: 0;
  list-style-type: none;
}

/* line 85, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-menu ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

/* line 90, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-menu ul li a {
  text-decoration: none;
  color: #fff;
}

/* line 95, D:/Assement NHP/scss/containers/_footer.scss */
footer .footer-row .footer-menu ul li a:hover {
  text-decoration: underline;
}

/* line 105, D:/Assement NHP/scss/containers/_footer.scss */
.bottom {
  background-color: #222431;
  padding: 7.5px 0;
  width: 100%;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

/* line 113, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .license {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
  color: #fff;
}

@media (min-width: 768px) {
  /* line 113, D:/Assement NHP/scss/containers/_footer.scss */
  .bottom .license {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
  }
}

/* line 127, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .license ul {
  list-style: none;
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  /* line 127, D:/Assement NHP/scss/containers/_footer.scss */
  .bottom .license ul {
    order: 2;
  }
}

/* line 139, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .license ul li {
  font-size: 0.8125rem;
}

/* line 142, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .license ul li::before {
  content: "-";
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  /* line 142, D:/Assement NHP/scss/containers/_footer.scss */
  .bottom .license ul li::before {
    display: none;
  }
}

/* line 154, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .license ul li a {
  text-decoration: none;
  color: #fff;
}

/* line 158, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .license ul li a:hover {
  text-decoration: underline;
}

/* line 164, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .social {
  display: flex;
  gap: 35px;
  color: #fff;
  font-size: 1.1875rem;
}

/* line 170, D:/Assement NHP/scss/containers/_footer.scss */
.bottom .social a {
  text-decoration: none;
}

/* line 1, D:/Assement NHP/scss/containers/_nav.scss */
nav {
  background-color: #333645;
  display: block;
}

@media (max-width: 992px) {
  /* line 1, D:/Assement NHP/scss/containers/_nav.scss */
  nav {
    display: none;
  }
}

/* line 11, D:/Assement NHP/scss/containers/_nav.scss */
.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 18, D:/Assement NHP/scss/containers/_nav.scss */
.main-nav li {
  text-decoration: none;
  text-align: center;
  flex: 1;
}

/* line 23, D:/Assement NHP/scss/containers/_nav.scss */
.main-nav li a {
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 1260px) {
  /* line 23, D:/Assement NHP/scss/containers/_nav.scss */
  .main-nav li a {
    font-size: 1.125rem;
  }
  /* line 39, D:/Assement NHP/scss/containers/_nav.scss */
  .main-nav li a small {
    font-size: 0.875rem;
    font-weight: 600;
  }
}

/* line 54, D:/Assement NHP/scss/containers/_nav.scss */
.AIS small {
  color: #fff;
}

/* line 60, D:/Assement NHP/scss/containers/_nav.scss */
.CD small {
  color: #c29fef;
}

/* line 67, D:/Assement NHP/scss/containers/_nav.scss */
.ITS small {
  color: #a2eaff;
}

/* line 73, D:/Assement NHP/scss/containers/_nav.scss */
.DM small {
  color: #88d3af;
}

/* line 80, D:/Assement NHP/scss/containers/_nav.scss */
.TS small {
  color: #d88eb1;
}

/* line 86, D:/Assement NHP/scss/containers/_nav.scss */
.WD small {
  color: #c29fef;
}

/* line 92, D:/Assement NHP/scss/containers/_nav.scss */
.DC small {
  color: #c29fef;
}

/* line 1, D:/Assement NHP/scss/containers/_banner.scss */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 6, D:/Assement NHP/scss/containers/_banner.scss */
.banner .banner-image {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(95deg, rgba(128, 48, 141, 0.2) 0.76%, rgba(1, 72, 123, 0.2) 99.24%), linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(34, 36, 49, 0.72), rgba(34, 36, 49, 0.72)), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-YLei.png");
}

/* line 15, D:/Assement NHP/scss/containers/_banner.scss */
.banner .banner-image .content {
  color: #fff;
  padding: 200px 0 95px;
  text-align: center;
}

@media (min-width: 992px) {
  /* line 15, D:/Assement NHP/scss/containers/_banner.scss */
  .banner .banner-image .content {
    padding-top: 95px;
  }
}

/* line 24, D:/Assement NHP/scss/containers/_banner.scss */
.banner .banner-image .content h1 {
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 3.375rem;
  padding-bottom: 20px;
  margin: 0;
}

@media (min-width: 992px) {
  /* line 24, D:/Assement NHP/scss/containers/_banner.scss */
  .banner .banner-image .content h1 {
    font-size: 5rem;
    line-height: 5.625rem;
  }
}

/* line 37, D:/Assement NHP/scss/containers/_banner.scss */
.banner .banner-image .content p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  padding-bottom: 6px;
}

@media (min-width: 992px) {
  /* line 37, D:/Assement NHP/scss/containers/_banner.scss */
  .banner .banner-image .content p {
    font-size: 1.625rem;
    line-height: 2.75rem;
  }
}

/* line 49, D:/Assement NHP/scss/containers/_banner.scss */
.banner .banner-image .content .button-banner {
  margin-bottom: 18px;
  margin-top: 31px;
  padding: 14px 32px;
  font-size: 1.25rem;
  line-height: 3.125rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

/* line 1, D:/Assement NHP/scss/containers/_middle.scss */
.section1 {
  padding-top: 75px;
  padding-bottom: 0px;
}

/* line 8, D:/Assement NHP/scss/containers/_middle.scss */
.section2 {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* line 4, D:/Assement NHP/scss/layout/_buttons.scss */
.button-CD {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #80308d, #350e5c) border-box;
  border-radius: 10px;
  opacity: 1;
}

/* line 13, D:/Assement NHP/scss/layout/_buttons.scss */
.button-IT {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #70ddfd, #125f8f) border-box;
  border-radius: 10px;
  opacity: 1;
}

/* line 22, D:/Assement NHP/scss/layout/_buttons.scss */
.button-DM {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #7bcbac, #198e92) border-box;
  border-radius: 10px;
  opacity: 1;
}

/* line 31, D:/Assement NHP/scss/layout/_buttons.scss */
.button-TS {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #930148, #30013a) border-box;
  border-radius: 10px;
  opacity: 1;
}

/* line 40, D:/Assement NHP/scss/layout/_buttons.scss */
.button-WD {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #80308d, #350e5c) border-box;
  border-radius: 10px;
  opacity: 1;
}

/* line 49, D:/Assement NHP/scss/layout/_buttons.scss */
.button-CS {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #5991d5, #4a1c8c) border-box;
  border-radius: 10px;
  opacity: 1;
}

/* line 58, D:/Assement NHP/scss/layout/_buttons.scss */
.button-DT {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #80308d, #350e5c) border-box;
  border-radius: 10px;
  opacity: 1;
}

/* line 2, D:/Assement NHP/scss/layout/_panels.scss */
.panel-CD {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, #80308d, #350e5c) border-box;
  border-radius: 50px;
  opacity: 1;
}

/* line 11, D:/Assement NHP/scss/layout/_panels.scss */
.panel-IT {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, #70ddfd, #125f8f) border-box;
  border-radius: 50px;
  opacity: 1;
}

/* line 20, D:/Assement NHP/scss/layout/_panels.scss */
.panel-DM {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, #7bcbac, #198e92) border-box;
  border-radius: 50px;
  opacity: 1;
}

/* line 29, D:/Assement NHP/scss/layout/_panels.scss */
.panel-TS {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, #930148, #30013a) border-box;
  border-radius: 50px;
  opacity: 1;
}

/* line 38, D:/Assement NHP/scss/layout/_panels.scss */
.panel-WD {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, #80308d, #350e5c) border-box;
  border-radius: 50px;
  opacity: 1;
}

/* line 47, D:/Assement NHP/scss/layout/_panels.scss */
.panel-CS {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, #5991d5, #4a1c8c) border-box;
  border-radius: 50px;
  opacity: 1;
}

/* line 56, D:/Assement NHP/scss/layout/_panels.scss */
.panel-DT {
  background: #fff;
  border: 4px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(180deg, #80308d, #350e5c) border-box;
  border-radius: 50px;
  opacity: 1;
}

/* line 4, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 100%;
}

/* line 12, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-header {
  width: 100%;
}

/* line 16, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-header h2 {
  font-weight: 600;
  font-size: 2.8125rem;
  margin-top: -10px;
  color: #333645;
  margin-bottom: 0px;
}

/* line 27, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-panneltop {
  cursor: pointer;
  display: flex;
  padding: 0 15px;
}

@media (min-width: 992px) {
  /* line 27, D:/Assement NHP/scss/sections/_services.scss */
  .services-list .services-row .services-panneltop {
    width: calc(1/3 * 100%);
  }
}

/* line 38, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-panneltop a {
  padding: 54px 44px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  color: #333645;
  width: 100%;
  position: relative;
}

/* line 51, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-panneltop a .wsbr {
  word-spacing: 0px;
}

/* line 55, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-panneltop a h2 {
  word-spacing: 100vw;
  font-size: 2rem;
  font-weight: 900;
  margin: -5px -25px 0;
  padding-bottom: 35px;
  line-height: 1.2;
}

/* line 65, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-panneltop a p {
  margin-bottom: 43px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
}

/* line 73, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-panneltop a .button-container {
  margin-top: auto;
  display: block;
}

/* line 79, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-panneltop a .button-container span {
  color: #333645;
  font-size: 1.0625rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 11px 18px;
  text-transform: uppercase;
  display: inline-flex;
}

/* line 93, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-pannelbottom {
  cursor: pointer;
  display: flex;
  padding: 0 15px;
}

@media (min-width: 992px) {
  /* line 93, D:/Assement NHP/scss/sections/_services.scss */
  .services-list .services-row .services-pannelbottom {
    width: calc(1/4 * 100%);
  }
}

/* line 103, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-pannelbottom a {
  color: #333645;
  padding: 54px 44px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  color: #333645;
  width: 100%;
  position: relative;
}

/* line 115, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-pannelbottom a h2 {
  word-spacing: 100vw;
  font-size: 2rem;
  font-weight: 900;
  margin: -5px -25px 0;
  padding-bottom: 35px;
  line-height: 1.2;
}

/* line 125, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-pannelbottom a p {
  margin-bottom: 43px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
}

/* line 133, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-pannelbottom a .button-container {
  margin-top: auto;
  display: block;
}

/* line 137, D:/Assement NHP/scss/sections/_services.scss */
.services-list .services-row .services-pannelbottom a .button-container span {
  color: #333645;
  font-size: 1.0625rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  padding: 11px 18px;
  text-transform: uppercase;
  display: inline-flex;
}

/* line 1, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us {
  background-image: linear-gradient(97deg, #350e5c -1.17%, #80308d 129.98%);
  color: #fff;
  font-weight: 300;
  text-align: center;
}

@media (min-with: 992px) {
  /* line 1, D:/Assement NHP/scss/sections/_aboutus.scss */
  .about-us {
    text-align: left;
  }
}

@media (min-width: 1260px) {
  /* line 1, D:/Assement NHP/scss/sections/_aboutus.scss */
  .about-us {
    background-image: url(../images/branded.png), linear-gradient(97deg, #350e5c -1.17%, #80308d 129.98%);
    text-align: left;
  }
}

/* line 22, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  max-width: 100%;
}

/* line 29, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info {
  padding: 0 15px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

@media (min-width: 992px) {
  /* line 29, D:/Assement NHP/scss/sections/_aboutus.scss */
  .about-us .about-row .about-info {
    width: 50%;
  }
}

/* line 41, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info h2 {
  margin-bottom: 40px;
  margin-top: -6px;
  color: #fff;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.2;
}

/* line 50, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info p {
  font-size: 1rem;
  line-height: 1.875rem;
  margin-bottom: 25px;
  margin-top: 0;
  color: #fff;
}

/* line 57, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info p strong {
  font-weight: 600;
}

/* line 62, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info p a {
  cursor: pointer;
  text-decoration: none;
}

/* line 67, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info p a:hover {
  text-decoration: underline;
}

/* line 73, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info .about-buttons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  height: 57px;
}

/* line 81, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info .star-rating {
  justify-content: center;
  display: flex;
  font-size: 2.125rem;
  gap: 14px;
  margin-bottom: 35px;
  flex-direction: row;
}

@media (min-width: 992px) {
  /* line 81, D:/Assement NHP/scss/sections/_aboutus.scss */
  .about-us .about-row .about-info .star-rating {
    justify-content: flex-start;
  }
}

/* line 95, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info .quote {
  font-size: 1.3125rem;
  font-style: italic;
  font-weight: 400;
}

/* line 100, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info .quote-author {
  font-size: 0.75rem;
  font-weight: 400;
}

/* line 107, D:/Assement NHP/scss/sections/_aboutus.scss */
.about-us .about-row .about-info .review-buttons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  height: 57px;
  margin-top: 75      px;
}

/* line 120, D:/Assement NHP/scss/sections/_aboutus.scss */
.button-about {
  Display: inline-flex;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5625rem;
  justify-content: center;
  align-items: center;
  padding: 11px 18px;
  height: 57px;
}

/* line 137, D:/Assement NHP/scss/sections/_aboutus.scss */
.button-about em {
  padding-left: 15px;
}

/* line 1, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us {
  background-color: #1b1b1e;
  padding: 66px 0 75px;
  color: #fff;
}

/* line 8, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-title {
  text-align: center;
}

/* line 11, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-title h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.875rem;
  margin-bottom: 15px;
}

/* line 20, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-title p {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 2.25rem;
  margin-bottom: 30px;
}

/* line 29, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container {
  margin: 0 -55px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

/* line 36, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-image-box {
  padding: 0 55px;
  max-width: 100%;
}

@media (min-width: 1260px) {
  /* line 36, D:/Assement NHP/scss/sections/_contactus.scss */
  .contact-us .contact-row .contact-form-container .contact-image-box {
    width: 50%;
  }
}

/* line 43, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-image-box img {
  border-radius: 30px 150px 30px 30px;
  height: auto;
  max-width: 100%;
}

/* line 51, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box {
  padding: 0 55px;
  max-width: 100%;
}

@media (min-width: 1260px) {
  /* line 51, D:/Assement NHP/scss/sections/_contactus.scss */
  .contact-us .contact-row .contact-form-container .contact-form-box {
    width: 50%;
  }
}

/* line 58, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box h3 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.875rem;
  margin-bottom: 15px;
}

/* line 67, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-field {
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

@media (min-width: 1260px) {
  /* line 67, D:/Assement NHP/scss/sections/_contactus.scss */
  .contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-field {
    width: 50%;
  }
}

/* line 81, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-field .form-text {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-bottom-color: #ccc;
  color: #fff;
  height: 47px;
  width: 100%;
  padding: 5px 15px;
  cursor: text;
}

/* line 103, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* line 110, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .required {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 5px;
}

/* line 118, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .required::after {
  color: #d24d57;
  content: " *";
}

/* line 123, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .recaption {
  max-width: 100%;
  font-size: 0.625rem;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (min-width: 1260px) {
  /* line 123, D:/Assement NHP/scss/sections/_contactus.scss */
  .contact-us .contact-row .contact-form-container .contact-form-box .form-contact .recaption {
    width: 50%;
  }
}

/* line 136, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .recaption .recaption-text a {
  text-decoration: underline;
}

/* line 145, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull {
  max-width: 100%;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* line 153, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull .form-textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-bottom-color: #ccc;
  color: #fff;
  height: 100px;
  min-height: 100px;
  width: 100%;
  padding: 5px 15px;
  cursor: text;
}

/* line 167, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull .checkbox-marketing {
  font-size: 0.625rem;
  line-height: 0.875rem;
  font-weight: £font-semibold;
  display: inline-block;
  cursor: pointer;
}

/* line 174, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull .checkbox-marketing .checkbox-flex {
  display: flex;
}

/* line 177, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull .checkbox-marketing .checkbox-flex .checkbox-left {
  padding-right: 0;
}

/* line 180, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull .checkbox-marketing .checkbox-flex .checkbox-left .checkbox {
  border: 3px solid #fff;
  height: 20px;
  margin-right: 15px;
  width: 20px;
  border-radius: 3px;
  display: inline-block;
}

/* line 188, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull .checkbox-marketing .checkbox-flex .checkbox-left .checkbox .ticked {
  display: none;
  font-weight: 400;
}

/* line 193, D:/Assement NHP/scss/sections/_contactus.scss */
.contact-us .contact-row .contact-form-container .contact-form-box .form-contact .form-fieldfull .checkbox-marketing .checkbox-flex .checkbox-left .checkbox .marketing-checkbox {
  display: none;
}

/*# sourceMappingURL=style.css.map */