// News section styling
.news {
    background-color: $white;

        //news header
		.news-header {
            padding-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $darkgrey;

			h2 {
                margin-bottom: 28px;
            }
			
            //this header is only displayed on larger screen sizes
            //it is replaced by the one below the articles on mobile
			h3 {
                font-size: rem(26px);
                margin-bottom: 15px;
                font-weight: $font-semibold;
                display:none;               

                @media (min-width: $small) {
                    display:block;
                }   
            }

        }
			.news-row {
               display:flex;
               flex-wrap:wrap;
               margin: -30px -15px 0 -15px;
               padding-top: 15px;
               padding-bottom: 50px;

                //news article styling    
				.news-article {
                    max-width:100%;
                    width:100%;
                    padding: 0 15px;

                    //these media queries adjust the article's width based on screen size
                    @media (min-width: $small) {
                        width: 50%
                    }

                    @media (min-width: $large) {
                        width: calc(100% / 3);
                    }
                        
						a {
                            font-size: rem(13px);
                            margin-top:30px;
                            color: $darkgrey;
                            position: relative;

                            // this is used here to allow when hovered for it to shift up
                            top: 0;
                            transition: .5s ease;
                      
                            display: flex;
                            flex-direction: column;

							.article-img {
                                
                                //This adjusts image size for the larger sceen sizes so that more articles can fit in a line
                                //this was causing the padding issues with the rest of the box fixed now.
                                @media (min-width: $small) {
                                    max-height:200px;
                                }
                                
                                @media (min-width: $medium) {
                                    max-height:263px;
                                }
                                
                                @media (min-width: $large) {
                                    max-height:213px;
                                }
                                
                                //This is the styling for the tiny link in the top right hand corner of them image
								.insights {
                                    background-color: $sky;
                                    position: absolute;
                                    top: 10px;
                                    right: 0;
                                    color: $white;
                                    font-size: rem(12px);
                                    font-weight: $font-semibold;
                                    padding: 0 10px;
                                    line-height: rem(23px);
                                    text-transform: uppercase;
                                    z-index: 1;
                                }

                                .insights:hover {
                                    text-decoration: underline;
                                }

                                //image container
                                .article-img-box {
                                    position: relative;
                                    border-radius: 3px 3px 0 0;
                                    border: 0;
                                    text-decoration:none;
                                    max-width:100%;
                                    
                                    //this will adjust the image to the size of the news article pannel
								    img {
                                        display:block;
                                        height: auto;
                                        width:100%;
                                    }
                                }
                            }
                                //styling of the news descriptions
                                //the border is done here as it conflits with the image instead of the parent container
                                .article-description {
                                    border-top:0;
                                    border-radius:0 0 3px 3px;
                                    display:block;
                                    padding: 30px;
                                    border: 1px solid $offwhite;
                                    box-shadow: 0 3px 35px $border-black;
                                    
                                    //these different media queries make sure the articles line up at the bottom on all various screen sizes 
                                    @media (min-width: $small) {
                                        min-height:400px;
                                    }

                                    @media (min-width: $medium) {
                                        min-height:373px;
                                    }

                                    @media (min-width: $large) {
                                        min-height:400px;
                                    }
                                
                                //fixed margin and padding
								h3 {
                                    padding-top:0;
                                    font-size: rem(16px);
                                    line-height: rem(24px);
                                    font-weight: $font-semibold;
                                    margin-top:0;
                                    margin-bottom: 15px;
                                    color: $sky;
                                    
                                    //This adjusts the height of the title because the titles have different lengths of text,
                                    //which this min height adjustment keeps everything inline with each pannel.
                                    @media (min-width: $small) {
                                        min-height:48px;
                                    }
                                }

								p {
                                    margin-bottom: 25px;
                                }
                                
                                //news button styling
                                //Did as a span rather than a as a within a breaks the code
                                .news-btn {
                                    display:inline-flex;
                                    font-size: rem(17px);
                                    line-height: rem(35px);
                                    font-weight: font-reg;
                                    padding: 5px 15px;
                                    text-transform: uppercase;
                                   
                                    border-radius: 3px;
                                    margin-bottom: 0;
                                    align-items: center;
                                    justify-content: center;
                                }
                                
                                //mixins again used to style the colour of the buttons
								.news-btn-orange {
                                    @include buttoncolor($orange, $white);
                                }

                                //Fixed not sure what was causing it to be a rgb instead of a hex colour
                                .news-btn-blue {
                                    @include buttoncolor($blue, $white);
                                }
                                
                                // article athuor wraper 
                                //border at top creates seperator line in the panel
								.article-author {
                                    margin-top: 30px;
                                    padding-top: 30px;
                                    border-top: 1px solid $offwhite;
                                    display: flex;
                                    flex-direction: row;
                                    font-size: rem(14px);

                                    //fixed bord radius was in wrong place
									.article-author-img {       
										img {
                                            border-radius: 50%;    
                                            display:block;
                                            max-width:47px;
                                            height:auto;
                                        }
                                    }

									.article-author-name {
                                        padding-left: 20px;
                                        line-height: rem(22px);
                                    }
                                }
                            }
                        }
                    
                    // when any news arctile is hovered over it will shift up    
                    a:hover {
                        top: -10px;
                        transition: .5s ease;
                    }

                    //this news article isn't displayed on medium screen sizes to save space
                    .article-technician {
                        @media (min-width: $small) and (max-width: $large) {
                            display:none;
                        }
                    }
                }
            }
            
            //this link only displays on mobile screens
            .hidden-view-all {
                text-align: center;
                margin-bottom: 20px;
                 
                @media (min-width: $small)
                {
                    display:none;
                }

                h3 {
                    font-size: rem(26px);
                    color: $darkgrey;
                    font-weight: $font-semibold;
                    margin-bottom: 15px;
                }
            }
}


        
		