.sliding-imgs
{
	.sliding-list
    {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;

		.sliding-img-box {
            width: auto;
            margin-right: 50px;
            position: relative;
            padding: 0 20px;
            height:70px;
            max-height:70px;
            

			img {
                
                max-width:200px;
                filter: grayscale(1)
            }
            img:hover {
                filter: grayscale(0);
            }
        }
    }
}

