//banner styling using a flex container
.banner { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 550px;
    background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-YLei.png"); //overlay graidient over the img
    //makes image resize and stay centered on different screen sizes
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .content {
    color:$white;
    text-align: center;
    padding: 60px 0;

    //non centered text for larger screens
    @media (min-width: $medium) {
        text-align: left;
    }
  
        h1 {
            font-size: rem(40px);
            line-height: rem(48px);
            margin:0 0 20px;

            //font size of header adjusts to bigger screens
            @media (min-width: $medium) {
            font-size: rem(64px);
            line-height: rem(80px); }

        }

        p {
            font-size: rem(20px);
            font-weight: $font-semibold;
            line-height: rem(28px);
            margin-bottom: 6px;

            //font size of header adjusts to bigger screens
            @media (min-width: $medium) {
            font-size: rem(26px);
            line-height: rem(40px); }

        }

        .button-banner {
            display: inline-block;
            margin: 31px 0 18px;
            padding: 5px 20px;
            font-size: rem(20px);
            line-height: rem(50px);
            border-radius: 3px;
            text-transform: uppercase;

            @include buttoncolor($violet, $white);
            
            span {
                margin-left: 12px;
            }

        }

        .button-banner:hover {
            @include buttoncolor($hover-purple, $white);
            
        }

    }
}

