//banner styling using a flex container
.banner {
    
.banner-slide { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 641px;

    //makes image resize and stay centered on different screen sizes
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .content {
    color:$white;
    text-align: center;
    padding: 150px 0 60px;

    //non centered text for larger screens
    @media (min-width: $medium) {
        padding: 60px 0;
        text-align: left;
    }
        
        h1 {
            font-size: rem(40px);
            line-height: rem(48px);
            margin:0 0 20px;

            //font size of header adjusts to bigger screens
            @media (min-width: $medium) {
            font-size: rem(64px);
            line-height: rem(80px); }

        }

        p {
            font-size: rem(20px);
            font-weight: $font-semibold;
            line-height: rem(28px);
            margin-bottom: 6px;

            //font size of header adjusts to bigger screens
            @media (min-width: $medium) {
            font-size: rem(26px);
            line-height: rem(40px); }

        }

        .button-banner {
            display: inline-block;
            margin: 31px 0 18px;
            padding: 5px 20px;
            font-size: rem(20px);
            line-height: rem(50px);
            border-radius: 3px;
            text-transform: uppercase;
            
            span {
                margin-left: 12px;
            }
        }
    }
}
}

//banner images and button colours
.banner1 {

    //overlay graidient over the img twice to produce a flat color for smaller screen sizes
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("#{$img-path}/home-YLei.png"); 

    //overlay graidient changed on bigger screen sizes
    @media (min-width: $medium) {
        background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-YLei.png"); 
    }

    .company-button {
        @include buttoncolor($violet, $white);
    }

    .company-button:hover {
        @include buttoncolor($hover-purple, $white);
    }
}

.banner2 {

    //overlay graidient over the img twice to produce a flat color for smaller screen sizes
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("#{$img-path}/home-O67Y.jpg"); 

    //overlay graidient changed on bigger screen sizes
    @media (min-width: $medium) {
        background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-O67Y.jpg"); 
    }

    .bespoke-button {
        @include buttoncolor($orange, $white);
    }

    .bespoke-button:hover {
        @include buttoncolor($hover-orange, $white);
    }

}

.banner3 {

    //overlay graidient over the img twice to produce a flat color for smaller screen sizes
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("#{$img-path}/home-gay8.png"); 

    //overlay graidient changed on bigger screen sizes
    @media (min-width: $medium) {
        background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-gay8.png"); 
    }

    .itsupport-button {
        @include buttoncolor($blue, $white);
    }

    .itsupport-button:hover {
        @include buttoncolor($hover-blue, $white);
    }

}

.banner4 {

    //overlay graidient over the img twice to produce a flat color for smaller screen sizes
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("#{$img-path}/home-6yTp.png"); 

    //overlay graidient changed on bigger screen sizes
    @media (min-width: $medium) {
        background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-6yTp.png"); 
    }

    .digitalmarketing-button {
        @include buttoncolor($lime, $white);
    }

    .digitalmarketing-button:hover {
        @include buttoncolor($hover-green, $white);
    }

}

.banner5 {

    //overlay graidient over the img twice to produce a flat color for smaller screen sizes
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("#{$img-path}/home-J8Xx.png"); 

    //overlay graidient changed on bigger screen sizes
    @media (min-width: $medium) {
        background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-J8Xx.png"); 
    }

    .telecomservices-button {
        @include buttoncolor($red, $white);
    }

    .telecomservices-button:hover {
        @include buttoncolor($hover-red, $white);
    }

}

.banner6 {

    //overlay graidient over the img twice to produce a flat color for smaller screen sizes
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("#{$img-path}/home-K0pn.jpg"); 

    //overlay graidient changed on bigger screen sizes
    @media (min-width: $medium) {
        background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-K0pn.jpg"); 
    }

    .webdesign-button {
        @include buttoncolor($violet, $white);
    }

    .webdesign-button:hover {
        @include buttoncolor($hover-purple, $white);
    }

}

.banner7 {

    //overlay graidient over the img twice to produce a flat color for smaller screen sizes
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("#{$img-path}/home-MSxH.png"); 

    //overlay graidient changed on bigger screen sizes
    @media (min-width: $medium) {
        background-image: linear-gradient(270deg,transparent 25%, $black), url("#{$img-path}/home-MSxH.png"); 
    }

    .cybersecurity-button {
        @include buttoncolor($rose, $white);
    }

    .cybersecurity-button:hover {
        @include buttoncolor($hover-rose, $white);
    }

}

