header { 
background-color: $white;
color: $white;

.header-inner{
padding: 20px 0;

.header-row { 
display:flex;
margin: 0 -15px;
align-items: center;


@media (max-width: $small) {
  width: 100%;
  margin:0;
}

      .logo {
          max-width: 100%;
          padding: 0 15px;
          

          @media (max-width: $small) {
            margin:0;
            padding:0;
          }

          @media (min-width: $small) {
            Width: 50%;
          }

          @media (min-width: $medium) {
            width: calc(100%/2.4);
          }

           @media (min-width: $large) {
            width: clac(100%/3);
          }

          a {
            text-decoration: none;

          }

          a img {
            max-width: 100%;
          }
        }

        .hidden-mobile{

          @media (min-width: $small) {
          display:none;
          }

          @media (max-width: $small) {
          padding:0;
          max-width:100%;
          font-size: rem(32px);
          margin-left: 15px;
          color: $darkgrey;
          }

          a{
            text-decoration: none;
          }


        }
      
    
          .contact{
            display:flex;
            padding:0 15px;
            flex-direction: row;
            justify-content: right;
            max-width: 100%;
            align-items: center;
            flex-direction: row;

            @media (min-width: $medium) {
              width: 58%;
            }

             @media (min-width: $large) {
              width: 67%;            
            }
              
            .button-support {
              color: $white;
              font-size: rem(16px);
              font-weight: $font-reg;
              line-height: rem(46px);
              height: 56px;
              padding: 5px 15px;
              margin-left:20px;
              text-decoration: none;
              text-transform: uppercase;

              background-color: $blue; 
              border-radius: 3px;        

              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              cursor: pointer;

              @media (max-width: $small){
                display: none;
              }
                          
              span{
                margin-right: 5px;
              }
            }
            
              .button-contact {
              color: $white;
              font-size: rem(16px);
              font-weight: $font-reg;
              line-height: rem(46px);
              height: 56px;
              padding: 5px 15px;
              margin-left:20px;
              text-decoration: none;
              text-transform: uppercase;

              background-color: $lightgrey;
              border-radius: 3px;     

              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              cursor: pointer;

              @media (max-width: $small){
                display: none;
              }

              span{
                margin-right: 5px;
              }
            }

            .search {
              display:flex;
              width: 300px;
              height: 56px;
              margin-left:20px;

              label {
                display: none;
              }

              .form-search {
                display: inline-flex;
                color: $medgrey;
                font-size: rem(14px);
                line-height: 1.5;
                padding: 5px 15px;
                width:240px;
                cursor: text;
                border-color: $offwhite;
                background-color: $white;
                border: 1px solid $light;
                border-radius: 0;
              }

              .form-search::placeholder {
                color: $grey;
              }

              .search-submit {
                padding: 7px 20px 3px;
                height: 56px;
                border-radius: 0 3px 3px 0;
                border: none;
                background-color: $lightgrey;
                color: $white;
                justify-content: center;
                align-items:center;
                cursor: pointer;
                

                  span {
                    font-size: rem(23px);
                    
                  }
                }
            }

              .button-hamburger {
              color: $white;
              font-size: rem(40px);
              line-height: rem(46px);
              font-weight: $font-bold;
              height: 56px;
              width: 63px;
              padding: 5px 15x;
              margin-left:20px;
              text-decoration: none;
              text-transform: uppercase;

              background-color: $darkgrey;
              border-radius: 3px; 

              display: flex;
              align-items: center;
              justify-content: center;
              text-align:center;
              cursor: pointer;


              }

          }

        }

        .mobile-contact{
            margin-top: 11px;
              

            .mobile-search {
              display:flex;
              //width:300px;
              height: 47px;
              background-color: rgba(0,0,0,.1);
              border: 2px solid rgba(0,0,0,.1);
              border-radius: 2px;


              

              .hidden-label {
                display: none;
              }

              .mobile-form-search {
                display:inline-block;
                font-size: rem(14px);
                line-height: 1.5;
                color: $medgrey;
                height:47px;
                padding: 5px 40px 5px 15px;
                cursor: text;
                width: 100%;
               border:none;
               background:none;
            
                
              }

              .mobile-form-search::placeholder {
                color: $grey;
              }

              .mobile-submit {
                display:flex;
                background: none;
                border: none;
                align-items:center;
                justify-content: center;
                padding: 0 10px;
                height: 47px;
                cursor: pointer;
                color: $darkgrey;
                font-size: rem(20px);
                line-height: rem(47px);

                }
    
              } 
            }  
  } 
}
            
        
    

    

  

