nav {
    background-color: $darkgrey;
    display:block;

    @media (max-width: $medium) {
            display:none;
          }
        } 
 

    .main-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin:0;
        padding:0;
        
        .main-nav-item {
            text-decoration: none;
            text-align: center;
            flex: 1;

            .nav-item {
                color: $white;
                display:block;
                font-size: rem(18px);
                font-weight: $font-light;
                line-height: 1;
                padding: 19px 0 18px;
                position:relative;
                text-decoration:none;
                text-transform:uppercase;
                 
                .nav-icon {
                    display:block;
                    font-size: rem(23px);
                    padding-bottom: 10px;
                 }

                  small {
                    display:block;
                        font-size: rem(10px);
                    }
                }
        }

        li:hover .nav-item::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -35px;
            transform: translateX(-50%);
            z-index: 90;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 35px 83.5px 0;
            
        }

        
    }
       

    .CD {

        span {
                color: $sky;
            }
    }
    
    
    .ITS {

        span {
                color: $blue;
        }
    }
    .DM {

        span {
                color: $lime;
        }
    }
    
    .TS {

        span {
                color: $brightred;
        }
    }
    .WD {

        span {
                color: $violet;
        }
    }
    .CS {

        span {
                color: $rose;
        }
    }
    .DC {

        span {
                color: $bloodorange;
        }
    }

    //nav hovers
      .consultancy:hover {
        background-color: $sky;
        .CD {span{color: $white}}

        .sub-nav-CD {
            background-color: $subnav-sky;
            display:block;
        }
        a::before {
            border-color: $sky transparent transparent;
        }

    }

    .itsupport:hover {
        background-color: $blue;
         .ITS {span{color: $white}}
        .sub-nav-ITS {
            background-color: $subnav-blue;
            display:block;
        }
        a::before {
            border-color: $blue transparent transparent;
        }

        
    }

    .digital:hover {
        background-color: $lime;
         .DM {span{color: $white}}
        .sub-nav-DM {
            background-color: $subnav-lime;
            display:block;
        }
        a::before {
            border-color: $lime transparent transparent;
        }

        
    }

    .telecoms:hover {
        background-color: $brightred;
         .TS {span{color: $white}}
        .sub-nav-TS {
            background-color: $subnav-brightred;
            display:block;
        }
        a::before {
            border-color: $brightred transparent transparent;
        }


    }

    .webdesign:hover {
        background-color: $violet;
         .WD {span{color: $white}}
        .sub-nav-WD {
            background-color: $subnav-violet;
            display:block;
        }
        a::before {
            border-color: $violet transparent transparent;
        }

        
    }

    .cyber:hover {
        background-color: $rose;
         .CS {span{color: $white}}
        .sub-nav-CS {
            background-color: $subnav-rose;
            display:block;
        }
        a::before {
            border-color: $rose transparent transparent;
        }
    }

    .developer:hover{
        background-color: $bloodorange;
         .DC {span{color: $white}}
        .sub-nav-DC {
            background-color: $subnav-bloodorange;
            display:block;
        }
        a::before {
            border-color: $bloodorange transparent transparent;
        }
    }