//Nav bar color styling in normal and hovered state
//made this as seperate partial to save space in nav partial
//colour mixins for nav bar and sub nav sections
 
 //nav icon colors Used seperate classes for each button
 //buttonms are defined from left to right 
 //CD = Consultancy & Development ITS = IT Support DM = digital marketing
 //TS = telecom services WD = web design CS = cyber sercurity DC = developer course

    .CD {
        span { // defines the color of the icon in each nav item
            color: $sky;
        }
    }
    
    .ITS {
        span {
            color: $blue;
        }
    }

    .DM {
        span {
            color: $lime;
        }
    }
    
    .TS {
        span {
            color: $red;
        }
    }

    .WD {
        span {
            color: $violet;
        }
    }

    .CS {
        span {
            color: $rose;
        }
    }

    .DC {
        span {
            color: $bloodorange;
        }
    }

    //Nav Hover styling
    //Made it so that the background colour changes when hovered, it also displays the sub nav and arrow shape aswell.
    //Used mixins to help present the colours as well keep it all uniform with the same colour.
      .consultancy:hover {
        @include navcolor($sky); // entire nav item background color

        .sub-nav-CD { ///subnav displays only with similar class defining as the main container
            @include navcolor($subnav-sky); //subnav background color to match button
            display:block;
        }

        a::before { //defines colour of arrow shape below each nav item
            border-color: $sky transparent transparent;
        }
    }

    .itsupport:hover {
        @include navcolor($blue);

        .sub-nav-ITS {
            @include navcolor($subnav-blue);
            display:block;
        }
        
        a::before {
            border-color: $blue transparent transparent;
        }     
    }

    .digital:hover {
        @include navcolor($lime);

        .sub-nav-DM {
            @include navcolor($subnav-lime);
            display:block;
        }

        a::before {
            border-color: $lime transparent transparent;
        }        
    }

    .telecoms:hover {
        @include navcolor($red);

        .sub-nav-TS {
            @include navcolor($subnav-red);
            display:block;
        }

        a::before {
            border-color: $red transparent transparent;
        }
    }

    .webdesign:hover {
        @include navcolor($violet);
  
        .sub-nav-WD {
            @include navcolor($subnav-violet);
            display:block;
        }

        a::before {
            border-color: $violet transparent transparent;
        }        
    }

    .cyber:hover {
        @include navcolor($rose);

        .sub-nav-CS {
            @include navcolor($subnav-rose);
            display:block;
        }

        a::before {
            border-color: $rose transparent transparent;
        }
    }

    .developer:hover{
        @include navcolor($bloodorange);
   
        .sub-nav-DC {
            @include navcolor($subnav-bloodorange);
            display:block;
        }

        a::before {
            border-color: $bloodorange transparent transparent;
        }
    }