nav {
    background-color: $darkgrey;
    display:block;

    @media (max-width: $medium) {
            display:none;
          }
        } 
 

    .main-nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin:0;
        padding:0;
        
        li {
            text-decoration: none;
            text-align: center;
            flex: 1;

            a {
                color: $white;
                display:block;
                font-size: rem(18px);
                font-weight: $font-light;
                line-height: 1;
                padding: 19px 0 18px;
                position:relative;
                text-decoration:none;
                text-transform:uppercase;
                cursor: pointer;
                 
                span {
                    display:block;
                    font-size: rem(23px);
                    padding-bottom: 10px;
                 }

                  small {
                    display:block;
                        font-size: rem(10px);
                    }
                }



        }
    }
        

    .CD {

        span {
                color: $sky;
               
            }
        }
    
    
    .ITS {

        span {
                color: $blue;
                
        }
    }
    .DM {

        span {
                color: $lime;
        }
    }
    
    .TS {

        span {
                color: $brightred;
        }
    }
    .WD {

        span {
                color: $violet;
        }
    }
      .CS {

        span {
                color: $rose;
        }
    }
    .DC {

        span {
                color: $orange;
        }
    }
