RewriteEngine On
# If the requested name is NOT a real file
RewriteCond %{REQUEST_FILENAME} !-f
# If the requested name is NOT a real folder
RewriteCond %{REQUEST_FILENAME} !-d
# Send it to index.php
RewriteRule ^ index.php [L]
