// Variables

// Colours
$white: #fff;
$grey: #888;
$black: #000;
$dark: #323544;
$darker: #222431;
$verydarkgrey: #212330;
$darkgrey: #333645;
$lightpurple: #c29fef;
$lightblue: #a2eaff;
$green:#88d3af;
$ruby:#d88eb1;
$red: #d24d57;
$offwhite: #ccc;
$lightgrey: #999aa2;
$light: #e5e5e5;
$medgrey: #555;
$offblack: #212330;
$link: #121419;

//Colours for buttons
$blue: #4183d7;
$sky: #67809f;
$brightred: #d64541;
$violet: #926fb1;
$orange: #ce4125;
$lime: #2ecc71;
$rose: #f62459;

//Hover & Focus colours
$hover-support1: #2a6ec6;
$hover-support2: #2665b5;
$hover-contact1:  #84858f;
$hover-contact2: #797a85;
$hover-hamburger1: #22242e;
$hover-hamburger2: #191a22;
$hover-search: #7e808a;
$focus-search: #5bc0de;
$hover-banner1:#7e57a0;
$hover-banner2:#735093;


//Break Points
$small: 768px;
$medium: 992px;
$large: 1260px;

//Fonts
$Poppins: 'Poppins';
$icomoon: 'icomoon';

//Assest Paths
$img-path: '../images';
$font-path: '../fonts';

//font
$base-font-size: 16px;
$base-line-height: 24px;

//font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//font styles
$font-italic: italic;