// Normal Fonts
@mixin font-face($family, $file, $weight)
{
    @font-face {
        font-family: $family;
        src: url('#{$font-path}/#{$file}.ttf') format('truetype');
        font-weight: $weight;
        
    }
}
// Itatlic fonts
@mixin font-face-italic($family, $file, $weight, $style)
{
    @font-face {
        font-family: $family;
        src: url('#{$font-path}/#{$file}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
        
    }
}

//color mixins for the panels,icons and buttons in the services section
@mixin panelcolor($panel-bg-color) {
  background-color: $panel-bg-color;
}

@mixin buttoncolor($button-bg-color, $button-br-color, $button-text-color) {
  background-color: $button-bg-color;
  border-color: $button-br-color;
  color: $button-text-color;
}

@mixin iconcolor($icon-bg-color, $icon-text-color) {
  background-color: $icon-bg-color;
  color: $icon-text-color;
}