// Panel sytling and hovers for services section

.panel-CD {

   .icon1 {
    background-color: $sky;
    color: $white;
    }

     .button-CD {
    background-color: $orange;
    border-color: $orange;
    color: $white;
    }

}

.panel-CD:hover {
   @include panelcolor ($sky)

    .icon1 {
        background-color: $white;
        color: $sky;
    }

    .button-CD {
    @include buttoncolor($white, $white, $sky)
    }


}

.panel-IT {
   

   .icon1 {
    background-color: $blue;
    color: $white;
    }

     .button-IT {
    @include buttoncolor($blue, $blue, $white)
    }

}

.panel-IT:hover {
   @include panelcolor ($blue)

    .icon1 {
        background-color: $white;
        color: $blue;
    }

     .button-IT {
    @include buttoncolor($white, $white, $blue)
    }



}

.panel-DM {
   
  

   .icon1 {
    background-color: $lime;
    color: $white;
    }
     .button-DM {
        @include buttoncolor($lime, $lime, $white)
    }


}

.panel-DM:hover {
   @include panelcolor ($lime)

    .icon1 {
        background-color: $white;
        color: $lime;
        
    }
     .button-DM {
    @include buttoncolor($white, $white, $lime)
    }


}

.panel-TS {
    
   .icon1 {
    background-color: $brightred;
    color: $white;
    }
     .button-TS {
    @include buttoncolor($brightred, $brightred, $white)
    }


}

.panel-TS:hover {
    @include panelcolor ($brightred)

    .icon1 {
        background-color: $white;
        color: $brightred;
    }
     .button-TS {
   @include buttoncolor($white, $white, $brightred)
    }

}

.panel-WD {
    

   .icon1 {
    background-color: $violet;
    color: $white;
    }
     .button-WD {
    @include buttoncolor($violet, $violet, $white)
    }

}

.panel-WD:hover {
    @include panelcolor ($violet)

    .icon1 {
        background-color: $white;
        color: $violet;
    }
     .button-WD {
    @include buttoncolor($white, $white, $violet)
    }



}

.panel-CS {  

   .icon1 {
    background-color: $rose;
    color: $white;
    }
     .button-CS {
    @include buttoncolor($rose, $rose, $white)
    }


}

.panel-CS:hover {
   @include panelcolor ($rose)

    .icon1 {
        background-color: $white;
        color: $rose;
    }
     .button-CS {
    @include buttoncolor($white, $white, $rose)
    }



}

.panel-DT {
   
  

   .icon1 {
    background-color: $bloodorange;
    color: $white;
    }
     .button-DT {
        @include buttoncolor($bloodorange, $bloodorange, $white)
    }


}

.panel-DT:hover {
    @include panelcolor ($bloodorange)

    .icon1 {
        background-color: $white;
        color: $bloodorange;        
    }
     .button-DT {
       @include buttoncolor($white, $white, $bloodorange)
    }



}




