// Panels for services
.panel-CD {
    background: $white;
    border: 4px solid transparent;
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(180deg, $pink, $purple) border-box;
    border-radius: 50px;
    opacity: 1;
}

.panel-IT {
    background: $white;
    border: 4px solid transparent;
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(180deg, $sky, $blue) border-box;
    border-radius: 50px;
    opacity: 1;
}

.panel-DM {
    background: $white;
    border: 4px solid transparent;
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(180deg,$lightteal, $teal) border-box;
    border-radius: 50px;
    opacity: 1;
}

.panel-TS {
    background: $white;
    border: 4px solid transparent;
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(180deg, $rose, $darkpurple) border-box;
    border-radius: 50px;
    opacity: 1;
}

.panel-WD {
    background: $white;
    border: 4px solid transparent;
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(180deg, $pink, $purple) border-box;
    border-radius: 50px;
    opacity: 1;
}

.panel-CS {
    background: $white;
    border: 4px solid transparent;
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(180deg, $ocean, $violet) border-box;
    border-radius: 50px;
    opacity: 1;
}

.panel-DT {
    background: $white;
    border: 4px solid transparent;
    background: linear-gradient($white, $white) padding-box,
    linear-gradient(180deg, $pink, $purple) border-box;
    border-radius: 50px;
    opacity: 1;
}









